body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #000000;
  background-color: #9b9075;
  min-width: 510px;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.container {
  position: relative;
  width: 500px;
  height: 700px;
  margin: 50px auto;
  background-color: #ecf1f7;
  padding-top: 5px;
  border: 1px solid #d6d5d5;
}

.title {
  width: 97%;
  height: 50px;
  border: 1px solid #d6d5d5;
  background-color: white;
  margin: 5px;
  display: table;
  border-collapse: separate;
  border-spacing: 5px;
}

.title span {
  display: table-cell;
  vertical-align: middle;
}

.title .name {
  width: 85%;
}

.title .time {
  text-align: center;
}

.bar {
  width: 97%;
  height: 10px;
  margin: 0 5px;
  background-color: #d6d5d5;
}

.bar .pb {
  width: 0;
  height: 10px;
  background-color: #f1544d;
  transition: 0.9s width;
}

button {
  width: 56px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  outline: 0;
}

.buttons {
  margin: 10px 0;
  text-align: center;
}

.buttons button {
  margin: 0 2px;
}

.buttons button:hover,
.buttons button.on {
  background-color: #f1544d;
  color: white;
}

.playlist {
  position: relative;
  width: 97%;
  height: 56px;
  border: 1px solid #d6d5d5;
  background-color: white;
  margin: 5px;
}

.playlist .list {
  width: 86%;
  height: 50px;
  margin: 3px 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.playlist .op {
  position: absolute;
  top: 13px;
  right: 5px;
}

.playlist button {
  background-color: #e8e8e8;
}

.playlist .list button {
  width: 92px;
  height: 50px;
  border-radius: 0;
  margin: 0 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playlist .list button:hover,
.playlist .list button.on,
.playlist .op button:hover {
  background-color: #f1544d;
  color: white;
}

.listbuttons {
  text-align: left;
  padding-left: 10px;
}

.listbuttons button {
  width: auto;
}

ul {
  height: 455px;
  margin: 0;
  border: 1px solid #d6d5d5;
  background-color: white;
  list-style: none;
  padding-left: 3px;
  padding-top: 3px;
  overflow-y: scroll;
}

.musiclist {
  width: 97%;
  /* height: 455px;
  border: 1px solid #d6d5d5;
  background-color: white; */
  margin: 5px;
  font-size: 16px;
  /* overflow-y: scroll; */
}

.musiclist li {
  width: 99%;
  height: 40px;
  display: table;
  border: 1px solid white;
}

.musiclist li:hover {
  border: 1px solid #f1544d;
}

.musiclist li.on {
  border: 1px solid #f1544d;
}

.musiclist li.playing {
  background-color: bisque;
}

.musiclist li span {
  display: table-cell;
  vertical-align: middle;
  user-select: none;
}

.musiclist li .cb {
  width: 10%;
  text-align: center;
}

.musiclist li .cb input {
  cursor: pointer;
}

.musiclist li .name {
  width: 75%;
  cursor: pointer;
}

.musiclist li .time {
  width: 15%;
  text-align: center;
}
